In [2]:
from spmf import Spmf
import numpy as np
import pandas as pd
import os

In [3]:
data = pd.read_csv('csvds.csv')

In [4]:
data.head(5)

,Unnamed: 0,package_name,user_id,start_time,end_time,time_spend
0,0,com.instagram.android,3401,16628668,16628669,1
1,1,com.google.android.apps.maps,2365,360890,361391,501
2,2,com.facebook.katana,4347,2589058,2589078,20
3,3,com.sonyericsson.conversations,9,18193453,18193534,81
4,4,com.google.android.apps.genie.geniewidget,4652,1542813,1542933,120

In [5]:
data1 = data.drop(columns=['Unnamed: 0']).sort_values(by=['user_id','start_time'])

In [6]:
data1['package_name']=data1['package_name'].astype('category')

In [7]:
data1['app_code']=data1['package_name'].cat.codes

In [8]:
data1.to_csv('sorted_coded_data.csv',index=True)

In [14]:
data

,package_name,user_id,start_time,end_time,time_spend
0,com.instagram.android,3401,16628668,16628669,1
1,com.google.android.apps.maps,2365,360890,361391,501
2,com.facebook.katana,4347,2589058,2589078,20
3,com.sonyericsson.conversations,9,18193453,18193534,81
4,com.google.android.apps.genie.geniewidget,4652,1542813,1542933,120
...,...,...,...,...,...
254450417,com.ebay.mobile,6428,39225935,39226125,190
254450418,com.sonyericsson.android.socialphonebook,3789,8270970,8270999,29
254450419,com.android.chrome,5347,6116499,6116930,431
254450420,com.facebook.katana,7517,18737038,18737138,100
254450421,net.daum.android.solcalendar,3789,19328811,19328815,4

# Dividing data into groups wrt. user_id and make it as input

In [15]:
data = pd.read_csv('sorted_coded_data.csv')

In [16]:
data = data.drop(columns=['Unnamed: 0'])

In [17]:
data1 = data[data['user_id']<=4]

In [147]:
group_user=data.groupby(['user_id'])

In [19]:
data1

,package_name,user_id,start_time,end_time,time_spend,app_code
0,com.facebook.katana,0,0,441,441,19968
1,com.android.chrome,0,441,1012,571,7649
2,com.google.android.apps.photos,0,1012,1032,20,23916
3,com.facebook.katana,0,1042,1502,460,19968
4,com.whatsapp,0,1512,1572,60,53003
...,...,...,...,...,...,...
74144,com.accuweather.paid.android,4,17488859,17488869,10,6318
74145,com.sonyericsson.conversations,4,17488869,17488874,5,45264
74146,com.imdb.mobile,4,17490032,17490063,31,26906
74147,com.sonyericsson.conversations,4,17490497,17490517,20,45264
74148,com.sonyericsson.conversations,4,17496095,17496115,20,45264

In [148]:
input = group_user['app_code'].apply(list).apply(lambda l: ' -1 '.join([str(i) for i in l])+" -1 -2")

In [110]:
f = open(os.path.join(os.getcwd(), 'test.txt'), 'w')
dfAsString = input1.to_string(header=False, index=False)
f.write(dfAsString.lstrip())
f.close()

In [86]:
pd.options.display.max_colwidth = 500000

# Testing with the package

In [135]:
# A test using there package 

spmf = Spmf("PrefixSpan", input_filename="/home/s164574/motifs_and_competition_in_app_usage/test.txt",
            output_filename="/home/s164574/motifs_and_competition_in_app_usage/output.txt",
            spmf_bin_location_dir="/home/s164574/motifs_and_competition_in_app_usage",
            arguments=[1, 2])
spmf.run()
print(spmf.to_pandas_dataframe(pickle=True))
spmf.to_csv("output.csv")

>/home/s164574/motifs_and_competition_in_app_usage/spmf.jar
=============  PREFIXSPAN 0.99-2016 - STATISTICS =============
 Total time ~ 76 ms
 Frequent sequences count : 4183
 Max memory (mb) : 82.00012969970703
 minsup = 1 sequences.
 Pattern count : 4183
===================================================


             pattern  sup
0            [19968]    1
1     [19968, 19968]    1
2     [19968, 23936]    1
3     [19968, 19973]    1
4     [19968, 53003]    1
...              ...  ...
4178  [56571, 64753]    1
4179  [56571, 24691]    1
4180  [56571, 18676]    1
4181  [56571, 13556]    1
4182  [56571, 23926]    1

[4183 rows x 2 columns]

In [136]:
pd.options.display.max_colwidth = 500000

In [138]:
data

,package_name,user_id,start_time,end_time,time_spend,app_code
0,com.facebook.katana,0,0,441,441,19968
1,com.android.chrome,0,441,1012,571,7649
2,com.google.android.apps.photos,0,1012,1032,20,23916
3,com.facebook.katana,0,1042,1502,460,19968
4,com.whatsapp,0,1512,1572,60,53003
...,...,...,...,...,...,...
254450417,com.google.android.googlequicksearchbox,9999,29207214,29207244,30,23949
254450418,com.android.chrome,9999,29207244,29207284,40,7649
254450419,com.google.android.apps.docs,9999,29207284,29207294,10,23875
254450420,com.microsoft.office.outlook,9999,29213184,29213213,29,33357
254450421,com.google.android.googlequicksearchbox,9999,29218277,29218307,30,23949

In [149]:
dfAsString = input.to_numpy()
np.savetxt('data.txt',dfAsString,delimiter=" ",fmt='%s')

In [174]:
# A test using there package 
spmf = Spmf("QSCP", input_filename="/home/s164574/motifs_and_competition_in_app_usage/data.txt",
            output_filename="/home/s164574/motifs_and_competition_in_app_usage/output.txt",
            spmf_bin_location_dir="/home/s164574/motifs_and_competition_in_app_usage/",
            arguments=[2000000, 6, 25])
spmf.run()
print(spmf.to_pandas_dataframe(pickle=True))
spmf.to_csv("output.csv")

>/home/s164574/motifs_and_competition_in_app_usage/spmf.jar
An error while trying to run the algorithm.
 ERROR MESSAGE = java.lang.NullPointerException

             pattern  sup
0            [19968]    1
1     [19968, 19968]    1
2     [19968, 23936]    1
3     [19968, 19973]    1
4     [19968, 53003]    1
...              ...  ...
4178  [56571, 64753]    1
4179  [56571, 24691]    1
4180  [56571, 18676]    1
4181  [56571, 13556]    1
4182  [56571, 23926]    1

[4183 rows x 2 columns]